@model Business.Cliente
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            <h2>LISTA DE CUENTAS DE: @Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno</h2>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <h5>Seleccione una Cuenta para moviemientos o + para agregar...</h5>
                    <hr />
                </div>

            </div>
            <hr />

            <div style="float:right;">
                @Html.ActionLink("+", "AddCuenta", "UserCliente",new { IdCliente = @Model.IdCliente },new{@class = "btn btn-success"})
                <hr />
            </div>

            <br>
            <table class="table table-striped table-hover">
                <thead>
                    <tr style="background-color:darkslategrey">
                        <td style="color:white">Editar</td>
                        <td style="visibility:collapse; display:none;">IdNumeroCuenta</td>
                        <td style="color:white">Nombre de la Cuenta</td>
                        <td style="color:white">Saldo</td>
                        <td style="color:white">Fecha de Creacion</td>
                        <td style="visibility:collapse; display:none;">IdCliente</td>
                        <td style="color:white">Depositar</td>
                        <td style="color:white">Retirar</td>
                        <td style="color:white">Historial de Transacciones</td>
                        <td style="color:white">Eliminar</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Business.Cuenta cliente in Model.Cuenta.Cuentas)
                    {
                        <tr>
                            <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("UpdateCuenta", "UserCliente", new { IdCliente = cliente.IdCliente, IdNumeroCuenta = cliente.IdNumeroCuenta })"><i class="bi bi-pencil-square"></i></a></td>
                            <td style="visibility:collapse; display:none;">@cliente.IdNumeroCuenta</td>
                            <td>@cliente.Nombre </td>
                            <td>$ @cliente.Saldo</td>
                            <td>@cliente.FechaCreacion</td>
                            <td style="visibility:collapse; display:none;">@cliente.IdCliente</td>
                            <td><a class="btn btn-secondary" href="@Url.Action("Depositar", "UserCliente", new { IdNumeroCuenta = cliente.IdNumeroCuenta, IdCliente = cliente.IdCliente})"><i class="bi bi-currency-exchange"></i></a></td>
                            <td><a class="btn btn-secondary" href="@Url.Action("Retirar", "UserCliente", new { IdNumeroCuenta = cliente.IdNumeroCuenta , IdCliente = cliente.IdCliente})" onclick="return confirm('Decea retirar saldo de esta cuenta?');"><i class="bi bi-cash"></i></a></td>
                            <td><a class="btn btn-secondary" href="@Url.Action("HistorialGetByIdCuenta", "UserCliente", new { IdNumeroCuenta = cliente.IdNumeroCuenta , IdCliente = cliente.IdCliente})"><i class="bi bi-clock-history"></i></a></td>
                            <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("DeleteCuenta", "UserCliente", new { IdNumeroCuenta = cliente.IdNumeroCuenta})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="bi bi-trash3-fill"></i></a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <hr />
            <div style="float:center;">
                <h5>Seleccione para visalizar su Historial de transacciones</h5>
                @Html.ActionLink("Historial", "HistorialGetByIdCliente", "UserCliente",new { IdCliente = @Model.IdCliente },new{@class = "btn btn-success"})
                <hr />
            </div>

        </main>
    </div>
   
</body>
</html>
