@model Business.Cliente
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">

    <div class="container">
        <div class="col-md-12">
            <h2>Transaccion: @Model.Cuenta.Transaccion.TipoTransaccion.Nombre</h2>
            <br />
            <h3>Cuenta: @Model.Cuenta.Nombre  --  Cliente: @Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno</h3>
            <br />
            <h3>SALDO DE LA CUENTA:  $@Model.Cuenta.Saldo .00</h3>
            <h5>Ingrese los datos de la transaccion:</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @*Crea un salto de linea*@
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Depositar", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div style="visibility:collapse; display:none;">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.IdCliente)
                        @Html.TextBoxFor(model => model.IdCliente, new { @class = "form-control", @id = "txtIdCliente" })
                        @Html.ValidationMessageFor(model => model.IdCliente)

                    </div>
                </div>
                <div style="visibility:collapse; display:none;">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.Cuenta.Transaccion.IdTransaccion)
                        @Html.TextBoxFor(model => model.Cuenta.Transaccion.IdTransaccion, new { @class = "form-control", @id = "txtIdTransaccion" })
                        @Html.ValidationMessageFor(model => model.Cuenta.Transaccion.IdTransaccion)

                    </div>
                </div>
                <div style="visibility:collapse; display:none;">
                    <div class="col-md-4 col-12 col-sm-6">
                        @Html.LabelFor(model => model.Cuenta.IdNumeroCuenta)
                        @Html.TextBoxFor(model => model.Cuenta.IdNumeroCuenta, new { @class = "form-control", @id = "txtIdNumeroCuenta" })
                        @Html.ValidationMessageFor(model => model.Cuenta.IdNumeroCuenta)

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Cuenta.Transaccion.Detalle) @Html.ValidationMessageFor(model => model.Cuenta.Transaccion.Detalle,"", new { @class = "text-danger"})
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-blockquote-left" style="color: darkblue"></i></span>
                            @Html.TextBoxFor(model => model.Cuenta.Transaccion.Detalle, new { @class = "form-control", @id = "txtDetalle", @onkeypress = "return SoloLetras(event, 'ldlDetalle')" })
                            @Html.Label("", null, new {@id = "ldlDetalle"})
                        </div>

                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Cuenta.Transaccion.MontoTransaccion)
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-currency-dollar" style="color: darkblue"></i></span>
                            @Html.TextBoxFor(model => model.Cuenta.Transaccion.MontoTransaccion, new { @class = "form-control", @id = "txtMontoTransaccion" , @onkeypress = "return SoloNumeros(event, 'ldlMonto')", @maxlength = "10"  })
                            @Html.ValidationMessageFor(model => model.Cuenta.Transaccion.MontoTransaccion,"",new { @class = "text-danger"})
                            @Html.Label("", null, new { @id  = "ldlMonto" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <hr />
                        <input type="submit" value="DEPOSITAR" class="btn btn-outline-success btn-lg" />
                        @Html.ActionLink("CANCELAR", "GetAll", "Cliente", htmlAttributes: new { @class = "btn btn-outline-danger btn-lg" })
                        <hr />
                    </div>
                </div>



            }
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>


    @*esta, esta la referencia a jquery porque nuestro proyecto ya tiene la libreria, de ahi la tomamos*@
    <script src="~/lib/jquery/dist/jquery.js"></script>

    @*las dos de abajo son la referencia para los estilos del datepicker, se sacan de la pagina de jquery ahi no hay detalle*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>>

    <script>
        function SoloLetras(e, controlId) {
            var caracter = e.key;
            if (!/^[a-zA-Z\s]*$/.test(caracter)) {
                $('#' + controlId).text("Solo se aceptan Letras");
                $('#' + controlId).css({ "color": "red" });
                return false;
            }
            else {
                $('#' + controlId).text("");
                return true;
            }
        }
    </script>

    <script>
        function SoloNumeros(e, controlId) {
            var caracter = e.key;
            if (!/^[0-9]*$/.test(caracter)) {
                $('#' + controlId).text("Solo se aceptan Numeros");
                $('#' + controlId).css({ "color": "red" });
                return false;
            }
            else {
                $('#' + controlId).text("");
                return true;
            }
        }
    </script>


}